#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 500px;
  border: solid 2px red;
  border-radius: 20px;
  
}
.animation-gif{
  background-image: url('/src/assets/background-login.gif');
  background-size: 1200px 500px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login{
  background-color: transparent;
  width: 200px;
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid 2px red;
  border-radius: 10px;
  transition: box-shadow 3s ease-in;
}
.container-login:hover {
  box-shadow: 0 0 59px 40px rgb(163, 7, 137); /* Efeito de luz expandindo */
}
.container-login-caixa{
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: solid 2px red;
  border-radius: 10px;
  gap:20px;
  
}
#button-login{
  margin-top: 30px;
  background-color: transparent;
  border: solid 2px red;
  border-radius: 10px;  
}
.error-message{
  color: yellow;
  font-size: 10px;
}

